
.slider{
  
  width: 98%;
  
}

.ItemMenuCloseButton{
  position: absolute;
  top: 2px;
  right: 1px;
  
  border:none;
}

canvas{
  position: fixed;
  outline: none;
  
}

#timetext{
  
  position: absolute;
  top:0.1em;
  
}

#fpsLabel{
  
  position: absolute;
  top: 0.1em;
  right: 0.1em;
  font-size: 0.75em;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  
}

#drawCallsLabel{
  
  position: absolute;
  top: 1.1em;
  right: 0.1em;
  font-size: 0.75em;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  
}


#eventtext{
  
  position: absolute;
  top:1.1em;
  
}

#ii{
    top: 2em;
    position: absolute;
}

body{
  overflow: hidden;
}


#selectionview{
  position: fixed;
  display: inline-grid;
  left:0.25em;
  bottom: 0.1em;
}

.ItemMenu{
  
  font-size: small;
  
  position: absolute;
  
  width: 250px;
  height: 250px;
  
  background-color: white;
  
  border-bottom: 1px;
  border-bottom-style: solid;
  
  
}

.ItemMenuHeader {
  width:100%;
  height: 20px;
  background-color:gray;
  user-select: none;
}


#InterfaceView {
  /*
  position: fixed;

  width: 100%;
  height: 50px;
  top: 0;
  left: 0;

  background-color: white;

  border-bottom: 1px;
  border-bottom-style: solid;
  */
}


#View {
  position: fixed;

  width: max-content;
  height: max-content;
  left: 0px;
  top: 50px;

  transition-property: left, top;
  transition-duration: 0.2s;
  transition-timing-function: linear;

  /*
    
    margin-top: 50px; 
    
    padding: 0; 
    box-sizing: border-box;
    */
}


#Ground{
  width: max-content;
  height: max-content;
}

#configmenu {
  position: fixed;

  right: 0.1em;
  bottom: 0.1em;
}

#configmenuwindow {
  position: fixed;
  left: 25%;
  top: 25%;
  width:50%;
  height: 50%;
  background-color: white;
  border: 1px black solid;

}

#operatingbutton {
  position: absolute;
  width: 5%;
  left: 55%;
  top: 0px;
}


.tile{
  float:left;
  height:25px;
  width:25px;
  background-color: green;
}

#FocusedView {
  /*width: 100%;  
    height: 90%;
    position: absolute;
    margin-top: 50px; 
    padding: 0; 
    box-sizing: border-box;
    left: 0px;
    top: 0px;*/
}

#Char{

  width: 25px;
  height: 25px;
  display: block;
  position: absolute;
  text-align: center;
  top:0;
  left:0;

  transition-property: left, top;
  transition-duration: 0.2s;
  transition-timing-function: linear;

}

#CharacterView {
  box-sizing: border-box;
}

.pump{
  width: 25px;
  height: 25px;
  display: block;
    position: absolute;
    text-align: center;
}

.bottle{
  width: 25px;
  height: 25px;
  display: block;
    position: absolute;
    text-align: center;
}



.blockclass {
  width: 10%; 
  background: rgb(130, 224, 255); 
  border: none; 
  padding: 4px; 
}


.viewblock { 
  width: 25px; 
  height: 25px;  
  border: none; 
  display: inline-flex;
    box-sizing: border-box;
}

.viewblock0 { 
  width: 25px; 
  height: 25px;  
  border: none; 
  display: block;
    box-sizing: border-box;
    border-style: dashed;
    position: absolute;
}

